@model PanopticoSA.Models.Cuenta

@{
    ViewData["Title"] = "Delete";
}


<h3>Seguro que desea borrar la cuenta?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCuenta" />
        <input type="hidden" asp-for="IdCliente" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |

    </form>

    <div>
        <hr />
        <a asp-action="Index" class="btn btn-dark"> << Regresar</a>
    </div>
</div>
