@model IEnumerable<PanopticoSA.Models.Presupuesto>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" class="btn btn-primary"> + Nueva</a>
</p>
<table class="table table-hover table-responsive"
       id="AreaTable">
   
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdJefeNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdServicioNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdJefeNavigation.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdServicioNavigation.IdServicio)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdPresupuesto">Modificar</a>
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.IdPresupuesto">Detalles</a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdPresupuesto">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts {
        <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#AreaTable').DataTable();
                responsive: true,
                    paging: false,
                        scrollY: 400,
                            searching: false,
                                select: true,

                                    ordering: false

            });
        </script>
    }
