@model PanopticoSA.Models.Factura

@{
    ViewData["Title"] = "Details";
}



<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdC.IdCuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdFactura" class="btn btn-warning">Modificar</a>
    <hr />
    <a asp-action="Index" class="btn btn-dark"> << Regresar</a>
</div>
